.barra{
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;    
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    display: flex;
    align-items: center;
}

.nav-item p{
    font-weight: bold;
}

.nav-right{
    display: flex;
    align-items: center;
    gap: 2rem;
}

a{
    font-size: 2rem;
}

.imagen-fondo{
    background-image: url(../assets/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.texto-imagen{
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-top: -5rem;
}

/* sombra en h1 */

.texto-imagen h1{
    text-shadow: .5rem .5rem 0 rgba(1,1,1,.1);
}

.encabezado{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
}
.tarjeta{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    padding: 5rem;    
}

.blog{
    display: grid;
    grid-template-columns: 3fr 1fr; 

}

aside{
    padding: 1rem;
}

.card-aside{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

button{
    background-color: black;
    color: #fff;
    border: none;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;    
}

footer{
    background-color: #000;
    color: #fff;
    padding: 2rem;       
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.pop-up-contenedor{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.pop-up-contenido{
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    text-align: center;
}

.form-group{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.pop-up{
    display: none;
}

.activo{
    display: block;
}

input{
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 1rem;
}

.boton-log {
    background-color: black;
    color: #fff;
    border: none;
    padding: .5rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin: 1rem;
}

/* media query */

@media screen and (max-width: 768px){
    .tarjeta{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;
    }
    .blog{
        display: flex;
        flex-direction: column;
    }
    aside{
        display: none;
    }
}
