/*Forma de dado*/
.forma{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
}